

.custom-textarea {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 10px;
  
} 

.custom-textarea:focus {
  outline: none;
} 

.upload  {
  display: flex;
  justify-content: center;
  align-items: center;
} 

/* .yooo {
  background: transparent;
  border: none;
} */
/* 
.yooo ::-webkit-file-upload-button {
    background: transparent;
} */

/* .flex {
  display: flex;
}

.left-content {
  flex: 1;
  padding-right: 20px; /* Add padding to create space between the left and right content */
/* } */

/* .vertical-line {
  border-left: 1px solid black; 
  margin-top: 40px;
}

.right-content {
  padding-left: 20px; 
} */

.buttons {
  border-radius: 50%;
  color: black;
} 