.welcome-container { 
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  height: 88vh;
  max-width: 100%;
  padding: 0 120px; 
 } 

.welcome-text {
  text-align: left;
  width: 50%; /* Set the width for the text content */
}

hr {
  border: none;
  border-top: 2px solid #333; /* Adjust the color as needed */
  margin: 5px 0;
}



.welcome-message {
  font-size: 2.5rem; /* Adjust the font size as needed */
  text-align: start;
  color: #333; /* Adjust the color as needed */
  margin-bottom: 10%;
}

.expressive-text {
  color: #ff4500; /* Adjust the color for expressiveness */
  font-weight: bold;
}



/* 
h2 {
  display: flex;
  align-items: center;
  font-size: 24px; 
  margin-bottom: 20px; 
} */

h2 svg {
  margin-right: 15px; /* Increase margin to the right of the icons */
}

h2 span {
  font-weight: bold;
  margin-right: 10px; /* Increase margin to the right of the text */
}

hr {
  margin: 15px 0; /* Add margin above and below the horizontal lines */
}

.rounded-full.w-60.h-12.mt-10 {
  display: inline-block;
}

/* Styles for the paragraph */
/* p {
  display: inline-block;
  margin-top: 10px; 
  margin-left: 10px; 
} */


