

body {
  font-family: Verdana, Geneva, sans-serif;
  /* background-color: ; */
}


.container {
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
}

.text-container,
.image-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.image-container {
  margin-top: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 9em; */
}

hero-image {
  max-width: 100%;
  height: auto;
  margin-left: 25em;
  width: 80em;
}

/* Media Query for Tablets */
@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .text-container,
  .image-container {
    width: 50%;
  }
  .text-container,
  .image-container {
    width: 50%;
  }
  
  .text-container {
    padding: 2.5em;
    border-radius: 10px;
  }

  .hero-head {
    font-size: 4em;
  }
}



.text-container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: start;
  border-radius: 10px;
  /* max-width: 600px; */
  /* padding: 2.5em; */
  /* ... other styles ... */
}

.hero-head {
  font-size: 3.5em; 
  color: green; 
  font-weight: bold;
  /* width: 500px; */
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .text-container {
    max-width: 100%; 
    border-radius: 0;
  }
}


.client {
  background-color: green;
  height: 200px;
  width: 450px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.client-cells {
  color: white;
  font-weight: 700;
  font-size: 50em;
  padding: 20px;
}

.client:hover {
  background-color: white;
  color: green;
  transition: background-color 0.3s, color 0.3s; 
}

.client:hover .client-cells {
  color: green;
  transition: color 0.3s;
}