.otp-verify-Form {
  width: 400px;
  height: 400px;
  background-color: white;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  padding: 5px 30px;
  gap: 20px;
  position: relative;
  border-radius: 10px;
}

.mainHeading {
  font-size: 1.9em;
  color: black;
  font-weight: 700;
}

.otpSubheading {
  font-size: 1em;
  font-weight: bold;
  color: black;
  line-height: 17px;
  text-align: center;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 15px 0 10px;
  justify-content: center;
}

.otp-input {
  background-color: whitesmoke;
  width: 50px;
  height: 50px;
  text-align: center;
  border: none;
  border-radius: 7px;
  caret-color: rgb(127, 129, 255);
  color: black;
  outline: none;
  font-weight: 600;
}

.otp-input:focus,
.otp-input:valid {
  background-color: rgba(127, 129, 255, 0.199);
  transition-duration: .3s;
}

